{% extends 'main/layout.html' %}
{% load static %}
{% block style %}{% static 'main/css/style_idex.css'%}{% endblock style %}
{% block content %}
<div class="swiper-container1">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="{% static 'main/img/sl11.png' %}" alt="Баннер">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/sl22.png' %}" alt="Баннер">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'main/img/sl33.png' %}" alt="Баннер">
        </div>
        
    
    </div>
    </div>
    <main>
        <h1 class="visually-hidden">Строительная компания &laquo;Стройиндустрия&raquo;</h1>
        <section id="about">
            <h2>О нас</h2>
            <article>
                <p>
                    Строительная компания &laquo;Стройиндустрия&raquo; была основана в 2004 году в городе Ростове-на-Дону.
                    За время работы был пройден путь от отделки небольших помещений до строительства масштабных
                    промышленных объектов «под ключ» на всей территории Южного федерального округа.
                </p>
                <p>
                    В числе наших клиентов крупные российские и зарубежные компании. Кроме того, несколько
                    объектов было выполнено по заказу государства. 
                </p>
                <p>
                    За годы работы у нас сформировалась широкая сеть проверенных поставщиков и надежных
                    партнеров на территории многих субъектов Российской Федерации.
                </p>
                <p>
                    Мы оказываем полный спектр строительных услуг, от демонтажных и земельных работ
                    до благоустройства территории.
                </p>
                <p>У нас есть опыт оказания услуг для различных сфер деятельности, в том числе:</p>
                <ul>
                    <li>
                        <i class="fas fa-check"></i>Торгово-развлекательные центры
                    </li>
                    <li>
                        <i class="fas fa-check"></i>Гостиничные и выставочные комплексы
                    </li>
                    <li>
                        <i class="fas fa-check"></i>Заводы (нефтепереработка,  очистные сооружения, текстильное производство)
                    </li>
                    <li>
                        <i class="fas fa-check"></i>Сельскохозяйственные комплексы (молочно-товарные фермы, пищевое производство)
                    </li>
                    <li>
                        <i class="fas fa-check"></i>Спортивные сооружения (стадионы, ледовые площадки, ипподромы)
                    </li>
                    <li>
                        <i class="fas fa-check"></i>Транспорт (логистические центры, ЖД и автовокзалы)
                    </li>
                    <li>
                        <i class="fas fa-check"></i>Проекты городской инфраструктуры
                    </li>
                    <li>
                        <i class="fas fa-check"></i>Офисные помещения
                    </li>
                </ul>
                <p>
                    Наша компания постоянно работает над улучшением предоставляемых услуг,
                    подтверждением чему является наличие допуска СРО, сертификата ISO 9001 и
                    аккредитации ПАО Газпром.
                </p>
            </article>
        </section>

        <section id="advantages-section">
            <h2>Наши преимущества</h2>
            <div id="advantages">
                <div>
                    <i class="fas fa-graduation-cap"></i>
                    <p>15 лет опыта</p>
                </div>
                <div>
                    <i class="fas fa-signal"></i>
                    <p>Более 500 проектов</p>
                </div>
                <div>
                    <i class="fas fa-globe-americas"></i>
                    <p>Широкая география</p>
                </div>
                <div>
                    <i class="fas fa-lock"></i>
                    <p>Гарантия работ</p>
                </div>
                <div>
                    <i class="far fa-calendar-check"></i>
                    <p>Соблюдение сроков</p>
                </div>
                <div>
                    <i class="fas fa-award"></i>
                    <p>Надежные партнеры</p>
                </div>
                <div>
                    <i class="far fa-thumbs-up"></i>
                    <p>Довольные клиенты</p>
                </div>
                <div>
                    <i class="fas fa-certificate"></i>
                    <p>Сертификаты качества</p>
                </div>
                <div>
                    <i class="fas fa-certificate"></i>
                    <p>Сертификаты качества</p>
                </div>
                <div>
                    <i class="fas fa-certificate"></i>
                    <p>Сертификаты качества</p>
                </div>
                <div>
                    <i class="fas fa-certificate"></i>
                    <p>Сертификаты качества</p>
                </div>
                <div>
                    <i class="fas fa-certificate"></i>
                    <p>Сертификаты качества</p>
                </div>
                <div>
                    <i class="fas fa-certificate"></i>
                    <p>Сертификаты качества</p>
                </div>
                <div>
                    <i class="fas fa-certificate"></i>
                    <p>Сертификаты качества</p>
                </div>
                <div>
                    <i class="fas fa-certificate"></i>
                    <p>Сертификаты качества</p>
                </div>
                <div>
                    <i class="fas fa-key"></i>
                    <p>Работаем &laquo;под ключ&raquo;</p>
                </div>
            </div>
        </section>


        <section id="clients-section">
            <h2>Нам доверяют</h2>
            <div id="clients">
                <div>
                    <a href="https://5ka.ru" target="_blank">
                        <img src="{% static 'main/img/clients/pyatorochka.svg' %}" alt="Пятерочка" title="Пятерочка">
                    </a>
                </div>
                <div>
                    <a href="https://mts.ru" target="_blank">
                        <img src="{% static 'main/img/clients/mts.svg' %}" alt="МТС" title="МТС">
                    </a>
                </div>
                <div>
                    <a href="http://magnit-info.ru/" target="_blank">
                        <img src="{% static 'main/img/clients/magnit.svg' %}" alt="Магнит" title="Магнит">
                    </a>
                </div>
                <div>
                    <a href="https://www.radissonhotels.com/" target="_blank">
                        <img src="{% static 'main/img/clients/radisson.svg' %}" alt="Radisson" title="Radisson">
                    </a>
                </div>
                <div>
                    <a href="https://corporate.baltika.ru" target="_blank">
                        <img src="{% static 'main/img/clients/baltika.png' %}" alt="Балтика" title="Балтика">
                    </a>
                </div>
                <div>
                    <a href="https://www.sportmaster.ru/" target="_blank">
                        <img src="{% static 'main/img/clients/sm.png' %}" alt="Спортмастер" title="Спортмастер">
                    </a>
                </div>
                <div>
                    <a href="http://www.fc-rostov.ru" target="_blank">
                        <img src="{% static 'main/img/clients/rostov.png' %}" alt="ФК Ростов" title="ФК Ростов">
                    </a>
                </div>
                <div>
                    <a href="http://www.rzd.ru" target="_blank">
                        <img src="{% static 'main/img/clients/rzd.png' %}" alt="РЖД" title="РЖД">
                    </a>
                </div>
                <div>
                    <a href="https://www.mil.ru" target="_blank">
                        <img src="{% static 'main/img/clients/military.png' %}" alt="Министерство Обороны" title="Министерство Обороны">
                    </a>
                </div>
            </div>
        </section>

        <section id="contacts">
            <h2>Контакты</h2>
            <div>
                <div id="map"></div>
                <div id="data" class="adrs">
                    <strong>ООО &laquo;Строительная компания &laquo;Стройиндуcтрия&raquo;</strong>
                    <address>344019, г. Ростов-на-Дону, ул. Мурлычева, 37, оф. 1</address>
                    <a class="telef" href="tel:+78632239631" title="Позвонить">(863) 223-96-31</a>,
                    <a class="telef" href="tel:+78632427690" title="Позвонить">242-76-90</a>
                    <div id="schedule">
                        <div>
                            <div class="figures">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="text time1">
                                9-18
                            </div>
                        </div>
                        <div>
                            <div class="figures">
                                <div></div>
                                <div></div>
                            </div>
                            <div class="text text1">
                                выходной
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 
    <script src="{% static 'main/js/swiper.min.js' %}"></script>
    <script src="{% static 'main/js/slider.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}
