{% extends 'main/layout.html' %}
{% load static %}
{% block style %}{% static 'main/css/style_idex.css'%}{% endblock style %}
{% block content %}
<ul >
    <form action="post" >
        
        <li hx-post = "/update1/" hx-trigger="every 3s">{{db.liq}}</li>
        <li hx-post = "/update2/" hx-trigger="every 3s">{{db.liq}}</li>
        <li hx-post = "/update3/" hx-trigger="every 3s">{{db.liq}}</li>
        <li hx-post = "/update4/" hx-trigger="every 3s">{{db.liq}}</li>
        
        
    </form  >     
</ul>
<form action="validate" method="post">
    {% csrf_token %}
    <div class="radio-group">
        <input type="radio" id="option1" name="selector1"  {% if db.light1 == '0' %}checked{% endif %} hx-post = "/light11/"  value='10'>
            <label for="option1" hx-trigger="click" value='10'>Off</label>
        <input type="radio" id="option2" name="selector1" {% if db.light1 == '1' %}checked{% endif %} hx-post = "/light12/" hx-trigger="click" value='11'>
            <label for="option2" value='11'>On</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="option3" name="selector2" {% if db.light2 == '0' %}checked{% endif %} hx-post = "/light21/" hx-trigger="click" value='20'>
            <label for="option3">Off</label>
        <input type="radio" id="option4" name="selector2" {% if db.light2 == '1' %}checked{% endif %} hx-post = "/light22/" hx-trigger="click" value='21'>
            <label for="option4">On</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="option5" name="selector3" {% if db.light3 == '0' %}checked{% endif %} hx-post = "/light31/" hx-trigger="click" value='30'>
            <label for="option5">Off</label>
        <input type="radio" id="option6" name="selector3" {% if db.light3 == '1' %}checked{% endif %} hx-post = "/light32/" hx-trigger="click" value='31'>
            <label for="option6">On</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="option7" name="selector4" {% if db.light4 == '0' %}checked{% endif %} hx-post = "/light41/" hx-trigger="click" value='40'>
            <label for="option7">Off</label>
        <input type="radio" id="option8" name="selector4" {% if db.light4 == '1' %}checked{% endif %} hx-post = "/light42/" hx-trigger="click" value='41'>
            <label for="option8">On</label>
    </div>
    
</form>
{% endblock %}

