{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="yandex-verification" content="6dc24041b8a0e86d" />
    <title>ADASI</title>
    <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">   
	<link rel="stylesheet" href="{% static 'main/css/swiper.min.css'%}">
    <script src="https://kit.fontawesome.com/06021f1363.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
    <script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        
        
    </header>
    {% block content %}

    {% endblock %}
    <footer id="foot">
      
    </footer>
</body>
</html>


