
.container{
    padding-top: 0px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    grid-auto-rows:minmax(200px,auto);
}
.block{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid rgb(240, 228, 228);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-decoration: none;
}
a{
    color: rgba(0,0,0,0.6);
    transition: 0.2s;
}
a:hover{
    color:red;
    transition: 0.2s;
}
.over{
    margin-top: 5%;
    width: 90%;
    overflow: hidden;
    transition: 0.1s;
    
}
img{
    width: 100%;
    max-height: auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.over:hover{
    width: 92%;
    margin-top: 4%;
    transition: 0.1s;
}
p{
    text-align: center;
    font-family: 'Spectral', serif;
    font-weight: 200;
}
article{
grid-column: 1/4;
font-size: 1.2em;
text-align: center;
}
h2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 5% 0 3%;
}
@media (max-width: 1250px) {
    p{
        font-size: 14px;
    }
}
@media (max-width: 1100px) {
    p{
        font-size: 12px;
    }
}
@media (max-width: 950px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 680px) {
    .container{
        grid-template-columns: 1fr;
    }
}